
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* share styles */
  .display-flex {
    display: flex;
  }
 /* dark 02 */
  .text-grey {
    color: #424242;
  }

 /* dark 03 */
.text-lightgrey {
      color: #727272;
} 

.bigi-light {
    background: rgba(255, 144, 14, 0.1);
}
.text-primaary {
    color: #FF900E;
}
.btn-primary {
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-weight: 600;
    font-size: 1.25rem;
    border-radius: 8px;

}

main {
    max-width: 1440px;
    margin: 0 auto;
}
main> section {
    margin-top: 130px;
}
.section-title {
    font-size: 2.8rem;
    font-weight: 700;
    margin: 24px;
}
/* header styles */


/* navbar styles */

.navbar {
     justify-content: space-between;
     align-items: center;
}

.brand {
    font-weight: 700;
    font-size: 3rem;
}

.nav-item {
    list-style: none;
    padding-right: 30px;
}
.nav-link {
    text-decoration: none;
    font-weight: 500;
} 

.navbar, .banner {
    max-width: 1440px;
    margin: 0 auto;
}

/* banner related styles */
.banner-content {
    max-width: 850px;
    margin:0% auto;
    text-align: center;
    margin-bottom: 50px;
} 
.banner-title {
    font-weight: 700;
    font-size: 4rem;
}

.banner-img {
    max-width: 100%;
} 

/* teams & fetures styles */

.teams {
    align-items: center;
} 
.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;

} 
.our-features {
    margin-left: 130px;
    max-width: 539px;
} 

#Quick-list {
    font-weight: 500;
}
    
/* fetures section styles */

.features {
    gap: 140px;
}

 #features-section-title {
   border-left: 5px solid #FF900E;
   padding-left: 24px;
 }

 .features-card .features-title {
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0px;
    margin-bottom: 0px;
 } 
 .features-card {
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.6);
    margin-bottom: 20px;
 } 
 #experiance-badge {
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -100px;
    margin-top: -100px;
 } 
 #experiance-year{
    font-size: 4rem;
    font-weight: 700;
 }
.features-architect img {
       width: 100%;
}

/* some facts styles */

.fact-discription {
    max-width: 540px;
    margin-top: 24px;
    margin-bottom: 100px;
}
.fact-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.fact-card{

    border: 1px solid #FF900E;;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.fact-number{
      font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name {
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}

/* sponsors related styles */
.sponsor-info {
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}

.sponsors-companies {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
   .sponsors-companies img {
    filter: grayscale(100%);
   } 

   .parent-of-footer {
    margin-top: 130px;
   }
      
   .footer{
    max-width: 1440px;
  background: rgba(255, 244, 231, 1);
  margin: 0 auto;

   }
   .text-p {
    font-size: 1rem;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 39px 410px;
   }

  
/* Responsive media quary */

@media screen and (max-width:576px) {
    .navbar, 
    .nav-links,
    .teams,
    .features{
        flex-direction: column;
    }
    .teams-img-container,
     .fact-container,
     .sponsors-companies {
        grid-template-columns: repeat(1, 1fr);
    }
     .fact-container,.sponsors-companies {

           justify-items: center;
           gap: 24px;
     }
    .fact-container {
        justify-items: center;
        gap: 24px;
    }
    .sponsors-companies {
        justify-items: center;
        gap: 50px;
    }
    .our-features {
        margin-left: 20px;
    } 
 #experiance-badge{
    margin-top: 20px;
    margin-left: 20px;
 }

    
}

@media screen and (min-width:576px) and (max-width:992px) {
        .teams, .features{
            flex-direction: column;
        }
           .our-features{
            margin: 50px auto;
           }
           .sponsors-companies, .fact-container {
        grid-template-columns: repeat(2, 1fr);
            gap: 50px;
            justify-items: center;
           }
     #experiance-badge{
    margin-top: 20px;
    margin-left: 20px;
 }
} 
